<!-- header -->
<table>
    <tr><td colspan="8" class="title">cutools.net - the home of cuftpd and cubnc</td></tr>
    <tr>
        <!-- These should all link to normal pages. Menu items never link to external links right away. -->
        <!--<td class="menuitem" onclick="document.location='index.shtml'"><a href="index.shtml" class="menulink">Home</a></td>-->
        <!-- Why couldn't links just inherit from text? now I can't make both links and nice looking tables-->
        <td class="menuitem" onclick="document.location='index.shtml'">Home</td>
        <td class="menuitem" onclick="document.location='projects.shtml'">Projects</td>
        <td class="menuitem" onclick="document.location='/forum'">Forum</td>
        <td class="menuitem" onclick="document.location='documentation.shtml'">Documentation</td>
        <td class="menuitem" onclick="document.location='downloads.shtml'">Downloads</td>
        <td class="menuitem" onclick="document.location='source.shtml'">Sourcecode</td>
        <td class="menuitem" onclick="document.location='contact.shtml'">Contact</td>
        <td class="menuitem" onclick="document.location='addons.shtml'">Add-ons</td>
    </tr>
</table>
<!-- end header -->