body {
    width: 700px;
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;
    background-color:white;
}
table {
    /* how the fuck do I get borders to apply to my fucking table?! */
    /* table-layout:fixed; */
    width:100%;
    /* if we don't use "fixed", then making things bold on mouseover makes the menus move, which is bad.*/
}
td {
    border:darkgray;
    border-style:solid;
    border-width:1px;
    background-color:lightgray;
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;
    padding:4px;
    margin:4px;
    text-align:center;
    color:black;
}
td.menuitem:hover {
    background-color:gray;
    color:white;
    cursor:pointer;
    
}
td.title {
    font-size:12pt;
    font-weight:bold;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:12px;
}
a {
    /* text-decoration:none; */
    color:black;
}
/*
a.menulink {
    text-decoration:none;
}
a.menulink:hover {
    color:inherit;
}
*/
p {
    padding:10px;
}
/*a:link {color: #000000}     /* unvisited link */
/*a:visited {color: #000000}  /* visited link */
/*a:hover {color: #ffffff}   /* mouse over link */
/*a:active {color: #000000}   /* selected link */
